<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Giftvoucher>
            <version>0.1.0</version>
        </Onetree_Giftvoucher>
    </modules>
    <global>
        <models>
            <onetree_giftvoucher>
                <class>Onetree_Giftvoucher_Model</class>
                <resourceModel>onetree_giftvoucher_resource</resourceModel>
            </onetree_giftvoucher>
            <onetree_giftvoucher_resource>
                <class>Onetree_Giftvoucher_Model_Resource</class>
            </onetree_giftvoucher_resource>
            <giftvoucher>
                <rewrite>
                    <giftvoucher>Onetree_Giftvoucher_Model_Giftvoucher</giftvoucher>
                </rewrite>
            </giftvoucher>
        </models>
        <blocks>
            <onetree_giftvoucher>
                <class>Onetree_Giftvoucher_Block</class>
            </onetree_giftvoucher>
            <giftvoucher>
                <rewrite>
                    <product_view>Onetree_Giftvoucher_Block_Product_View</product_view>
                </rewrite>
            </giftvoucher>
        </blocks>
        <helpers>
            <onetree_giftvoucher>
                <class>Onetree_Giftvoucher_Helper</class>
            </onetree_giftvoucher>
        </helpers>
        <resources>
            <onetree_giftvoucher_setup>
                <setup>
                    <module>Onetree_Giftvoucher</module>
                </setup>
            </onetree_giftvoucher_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <paymentfilter_payment_method_is_active>
                        <type>singleton</type>
                        <class>onetree_giftvoucher/observer</class>
                        <method>paymentMethodIsActive</method>
                    </paymentfilter_payment_method_is_active>
                </observers>
            </payment_method_is_active>
        </events>
    </frontend>
</config>