app/etc/local.xml
var/backups
var/export
var/cache
var/log
var/import
var/tmp
var/report
var/session
var/locks
var/package
var/importexport
.idea/
/nbproject
var/resource_config.json
app/code/community/SMDesign/Colorswatch/Model/LICENSE_SMD_ColorSwatch.txt
app/code/community/SMDesign/Colorswatch/Model/LICENSE_SMD_ColorSwatch.txt_staging
.DS_Store
updateprice.php
updateprice.txt
backupprice.php
backupprice.txt
blog
test.php
