<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Ocauru>
            <version>0.0.3</version>
        </Onetree_Ocauru>
    </modules>

    <global>
        <models>
            <ocauru>
                <class>Onetree_Ocauru_Model</class>
            </ocauru>
        </models>
        <blocks>
            <ocauru>
                <class>Onetree_Ocauru_Block</class>
            </ocauru>
            <adminhtml>
                <rewrite>
                    <customer_group_grid>Onetree_Ocauru_Block_Adminhtml_Customer_Group_Grid</customer_group_grid>
                    <customer_group_edit_form>Onetree_Ocauru_Block_Adminhtml_Customer_Group_Edit_Form</customer_group_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <ocauru_setup>
                <setup>
                    <module>Onetree_Ocauru</module>
                    <class>Onetree_Ocauru_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ocauru_setup>
            <ocauru_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ocauru_write>
            <ocauru_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ocauru_read>
        </resources>
        <helpers>
            <ocauru>
                <class>Onetree_Ocauru_Helper</class>
            </ocauru>
        </helpers>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <add_oca_installments>
                        <type>model</type>
                        <class>Onetree_Ocauru_Model_Observer</class>
                        <method>addInstallments</method>
                    </add_oca_installments>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_save_before>
                <observers>
                    <add_oca_installments_to_order>
                        <type>model</type>
                        <class>Onetree_Ocauru_Model_Observer</class>
                        <method>addInstallmentsToOrder</method>
                    </add_oca_installments_to_order>
                </observers>
            </sales_order_save_before>
            <payment_method_is_active>
                <observers>
                    <allow_method_for_id>
                        <type>model</type>
                        <class>Onetree_Ocauru_Model_Observer</class>
                        <method>allowMethodForIp</method>
                    </allow_method_for_id>
                </observers>
            </payment_method_is_active>
        </events>
        <routers>
            <ocauru>
                <use>standard</use>
                <args>
                    <module>Onetree_Ocauru</module>
                    <frontName>oca</frontName>
                </args>
            </ocauru>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <add_admin_oca_installments>
                        <type>model</type>
                        <class>Onetree_Ocauru_Model_Observer</class>
                        <method>addAdminInstallmentsInfo</method>
                    </add_admin_oca_installments>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </adminhtml>
    <default>
        <payment>
            <ocauru>
                <active>0</active>
                <model>ocauru/standard</model>
                <order_status>pending</order_status>
                <title>Oca</title>
                <order_payd>processing</order_payd>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <installments>0</installments>
                <customer_type>1</customer_type>
                <enable_allow_ips>0</enable_allow_ips>
            </ocauru>
        </payment>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <onetree_ocauru before="Mage_Adminhtml">Onetree_Ocauru_Adminhtml</onetree_ocauru>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>