<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Ultimo>
            <version>0.1.0</version>
        </Onetree_Ultimo>
    </modules>
    <global>
        <models>
            <onetree_ultimo>
                <class>Onetree_Ultimo_Model</class>
                <resourceModel>onetree_ultimo_resource</resourceModel>
            </onetree_ultimo>
            <onetree_ultimo_resource>
                <class>Onetree_Ultimo_Model_Resource</class>
            </onetree_ultimo_resource>
        </models>
        <blocks>
            <onetree_ultimo>
                <class>Onetree_Ultimo_Block</class>
            </onetree_ultimo>
        </blocks>
        <helpers>
            <onetree_ultimo>
                <class>Onetree_Ultimo_Helper</class>
            </onetree_ultimo>
        </helpers>
        <resources>
            <onetree_ultimo_setup>
                <setup>
                    <module>Onetree_Ultimo</module>
                </setup>
            </onetree_ultimo_setup>
        </resources>
    </global>
    <default>
        <ultimo>
            <product_labels>
                <sale_show_image>0</sale_show_image>
            </product_labels>
        </ultimo>
    </default>
</config>