<?xml version="1.0"?>
<config>
    <modules>
	<Onetree_FirstData>
	    <version>0.1.3</version>
	</Onetree_FirstData>
    </modules>

    <global>
		<models>
		    <firstdata>
			<class>Onetree_FirstData_Model</class>
		    </firstdata>
		</models>
			<blocks>
	            <firstdata>
	                <class>Onetree_FirstData_Block</class>
	            </firstdata>
	        </blocks>
		<resources>
		    <firstdata_setup>
				<setup>
				    <module>Onetree_FirstData</module>
				    <class>Onetree_FirstData_Model_Mysql4_Setup</class>
				</setup>
				<connection>
				    <use>core_setup</use>
				</connection>
		    </firstdata_setup>
		    <firstdata_write>
			<connection>
			    <use>core_write</use>
			</connection>
		    </firstdata_write>
		    <firstdata_read>
			<connection>
			    <use>core_read</use>
			</connection>
	    	</firstdata_read>
		</resources>
		<helpers>
		    <firstdata>
				<class>Onetree_FirstData_Helper</class>
		    </firstdata>
		</helpers>
    </global>
    <frontend>
		<routers>
		    <firstdata>
			<use>standard</use>
			<args>
			    <module>Onetree_FirstData</module>
			    <frontName>firstdata</frontName>
			</args>
		    </firstdata>
		</routers>
		 <events>
			<core_block_abstract_to_html_before>
                <observers>
                    <add_firstdata_installments>
                        <type>model</type>
                        <class>Onetree_FirstData_Model_Observer</class>
                        <method>addInstallments</method>
                    </add_firstdata_installments>
                </observers>
              </core_block_abstract_to_html_before>
				<sales_order_save_after>
	              	<observers>
	                    <add_firstdata_installments_to_order>
	                        <type>model</type>
	                        <class>Onetree_FirstData_Model_Observer</class>
	                        <method>addInstallmentsToOrder</method>
	                    </add_firstdata_installments_to_order>
	                </observers>
				</sales_order_save_after>
                 <payment_method_is_active>
                     <observers>
                         <allow_method_for_id>
                             <type>model</type>
                             <class>Onetree_FirstData_Model_Observer</class>
                             <method>allowMethodForIp</method>
                         </allow_method_for_id>
                     </observers>
                 </payment_method_is_active>
			</events>
   		</frontend>
    <adminhtml>
    	<events>
    		<payment_info_block_prepare_specific_information>
    			<observers>
	    			<add_admin_firstdata_installments>
						<type>model</type>
	                    <class>Onetree_FirstData_Model_Observer</class>
	                    <method>addAdminInstallmentsInfo</method>
					</add_admin_firstdata_installments>
				</observers>
    		</payment_info_block_prepare_specific_information>
    	</events>
    </adminhtml>
    <default>
        <payment>
            <firstdata>
                <active>0</active>
                <model>firstdata/payment</model>
                <order_status>pending</order_status>
                <title>FirstData</title>
                <order_payd>processing</order_payd>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <installments>0</installments>
                <enable_allow_ips>0</enable_allow_ips>
            </firstdata>
        </payment>
    </default>
</config>