@font-face
{
 font-family: Open sans;
 src: url(OpenSans-Regular.ttf);
}

.magestore-popup_social {
    max-width: 565px !important;
}
.clear{
 width:100%;
 height:0px;
 clear:both;
 font-size:0px;
 line-height:0px;
}

#sociallogin_button{
	margin-top:10px;
}

#sociallogin_button button span{
	box-sizing: border-box;
}

#sociallogin_button #bt-loginfb span, #bt-loginfb-popup span{
    height:35px;
    background: url("sociallogin/fb.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginfb span span, #bt-loginfb-popup span span{background: none repeat scroll 0 0 #2d78bd;}
#sociallogin_button #bt-loginamazon span, #bt-loginamazon-popup span{
    height:35px;
    background: url("sociallogin/bt_amazon.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginamazon span span, #bt-loginamazon-popup span span{background: none repeat scroll 0 0 #fe9900;}
#sociallogin_button #bt-loginins span, #bt-loginins-popup span{
    height:35px;
    background: url("sociallogin/bt_intagram.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginins span span, #bt-loginins-popup span span{background: none repeat scroll 0 0 #42729a;}
#sociallogin_button #bt-logingo span, #bt-logingo-popup span{
    height: 35px;
    background: url("sociallogin/google.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-logingo span span, #bt-logingo-popup span span{background: none repeat scroll 0 0 #dd4b39;}
#magestore-popup  .input-box{width:100%;}
#sociallogin_button #bt-loginvk span, #bt-loginvk-popup span{
    height: 35px;
    background: url("sociallogin/vk.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginvk span span, #bt-loginvk-popup span span{background: none repeat scroll 0 0 #44678d;}
#sociallogin_button #bt-loginper span, #bt-loginper-popup span{
    height: 35px;
    background: url("sociallogin/persional.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginper span span, #bt-loginper-popup span span{background: none repeat scroll 0 0 #ffc823;}
#bt-logintw-popup span{
    height: 35px;
    background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginse span, #bt-loginse-popup span{
    height: 35px;
    background: url("sociallogin/stack.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginse span span, #bt-loginse-popup span  span{background: none repeat scroll 0 0 #3170c3;}

#sociallogin_button #bt-logintw span, #bt-loginaol-popup span{
    height: 35px;
	background: url("sociallogin/twit.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-logintw span span, #bt-loginaol-popup span span{background: none repeat scroll 0 0 #28bceb;}
#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span{   
	background: url("sociallogin/wpress.png") no-repeat;  
}
#sociallogin_button #bt-loginwp span span, #bt-loginwp-popup span span{background: none repeat scroll 0 0 #555555;}
#sociallogin_button #bt-loginya span, #bt-loginya-popup span{
    height: 35px;
	background: url("sociallogin/yh.png") no-repeat;
    display: block;
    float: left;
}
#sociallogin_button #bt-loginya span span, #bt-loginya-popup span span{background: none repeat scroll 0 0 #6f2b90;}
/* by Hai Ta */
#sociallogin_button #bt-loginaol span, #bt-loginaol-popup span{    
	background: url("sociallogin/aol.png") no-repeat;  
}
#sociallogin_button #bt-loginaol span span, #bt-loginaol-popup span span{background: none repeat scroll 0 0 #ffc923;}
#sociallogin_button #bt-loginwp span, #bt-loginwp-popup span{   
	background: url("sociallogin/wpress.png") no-repeat;  
}
#sociallogin_button #bt-loginwp span span, #bt-loginwp-popup span span{background: none repeat scroll 0 0 #555555;}
#sociallogin_button #bt-logincal span, #bt-logincal-popup span{    
	background: url("sociallogin/clavid.png") no-repeat;    
}
#sociallogin_button #bt-logincal span span, #bt-logincal-popup span span{ background: none repeat scroll 0 0 #12396b;}
#sociallogin_button #bt-loginorg span, #bt-loginorg-popup span{    
	background: url("sociallogin/orange.png") no-repeat;    
}
#sociallogin_button #bt-loginorg span span, #bt-loginorg-popup span span{background: none repeat scroll 0 0 #ff6501;}
#sociallogin_button #bt-loginmp span, #bt-loginmp-popup span{    
	background: url("sociallogin/mysp.png") no-repeat;    
}
#sociallogin_button #bt-loginmp span span, #bt-loginmp-popup span span{background: none repeat scroll 0 0 #ff6501;}
#sociallogin_button #bt-loginlive span, #bt-loginlive-popup span{    
	background: url("sociallogin/live.png") no-repeat;
}
#sociallogin_button #bt-loginlive span span, #bt-loginlive-popup span span{  background: none repeat scroll 0 0 #30a8e4;}
#sociallogin_button #bt-loginfq span, #bt-loginfq-popup span{    
	background: url("sociallogin/fq.png") no-repeat;   
}
#sociallogin_button #bt-loginfq span span, #bt-loginfq-popup span span{	background: none repeat scroll 0 0 #099eba;}

#sociallogin_button #bt-loginlinked span, #bt-loginlinked-popup span{    
	background: url("sociallogin/linked.png") no-repeat;   
}
#sociallogin_button #bt-loginlinked span span, #bt-loginlinked-popup span span{background: none repeat scroll 0 0 #017fb2;}
#sociallogin_button #bt-loginopen span, #bt-loginopen-popup span{    
	background: url("sociallogin/myop.png") no-repeat;
}
#sociallogin_button #bt-loginopen span span, #bt-loginopen-popup span span{background: none repeat scroll 0 0 #74bc52;}
#sociallogin_button #bt-loginlj span, #bt-loginlj-popup span{    
	background: url("sociallogin/liveJ.png") no-repeat;   
}
#sociallogin_button #bt-loginlj span span, #bt-loginlj-popup span span{background: none repeat scroll 0 0 #143ea9;}

#sociallogin-other-div{	
	display: block;	
	float: right;      
}
#sociallogin-other-a{
	width: 91px;
	display: block;
}
.sociallogin-other{
	display: block;	
	float: right;
    width: 100%;
}
.sociallogin-other-span{
	cursor: pointer;    
	font-weight: bold;
    white-space: nowrap;
}

.sociallogin-other-span-img-popup{	
	float: right;
	width: 26px;
	height: 16px;
	cursor: pointer;        
	background: url("sociallogin/add.png") no-repeat right;
}

.other-button{
	/* margin: 7px 3px 5px 4px; */
}
.sociallogin-other-button{	
    width: auto;
	max-width:375px;
}
button.bt-login-social{background:none;border:none;cursor: pointer;}
button.bt-login-social:hover{opacity: 0.9;}
button.bt-login-social span{	
	height:35px;
	line-height:35px;
	color:#fff;
	padding:0 0 0 35px;
	float:left;
	}

#sociallogin_button .sociallogin-other #other_sociallogin_label{font-family: Open sans;}
button.bt-login-social span span{
	background-position:100% 0 !important;
	/* padding-right:10px !important; */
	padding-left:10px !important;
	text-align: left;
	color:#fff;
	min-width: 110px;
	font-family: Open sans;
    font-size: 12px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: regular;
	text-transform:none;
}
button.bt-login-social span span {
	min-width: 134px;
}
	
/* change poppup */
#magestore-popup{
	padding: 10px;
    position: fixed;
    width: 706px;
    z-index: 9990;
	background: #fff;
	border: 2px;
	min-width: 200px;
	/* border-radius: 7px; */
}
#magestore-login-social{
	float: right;
	width: 34%;
	/* text-align: center; */
}
#bg_fade {
    background-color: #000000;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
	opacity: 0.3;
}
#sociallogin-close{
	cursor: pointer;
    height: 33px;
    position: absolute;
    right: -20px;
    top: -16px;   
    z-index: 9999;
	right: -12px;
	top: -15px;
	height: 34px;
	width: 33px;
	background:url("sociallogin/close.png") no-repeat;
}
#sociallogin-close:hover{
	text-decoration: underline;
}
#magestore-login-form{
	margin-left: 10px;
}
.magestore-loign-h3{
	margin-bottom: 18px;
	border-bottom: 1px solid #CCCCCC;
	font-family: 'tahoma',Arial,Helvetica,sans-serif;
    font-size: 15px;
	padding-bottom: 3px;
}
.magestore-login-input-box{
	margin-bottom: 12px;
	height: 30px;
}
.login-label{
	float: left;	
	padding-top: 5px;
    width: 32%;
	font-weight: bold;
	color: #666;
}
#magestore-popup .form-list label{float: left;text-align: left;}
#magestore-popup .form-list .sociallogin-field {clear: none;}
.login-label em{
	color: red;
}
.sociallogin-input-box{
	float: right;
	width: 246px;
	margin-bottom: 12px;
}
.sociallogin-input-box .input-text{
	border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 2px 2px #E3E3E3 inset;
    font-family: inherit;
    font-size: 1.1em;
    margin: 0;
    padding: 5px 4px;
    width: 230px;
}
.magestore-login-popup-button{
	float: right;
}
#magestore-forgot-password, #magestore-forgot-back{
	margin-right: 69px;
	font-size: 10px;
	float: left;
	width: 100%;
}
#magestore-forgot-back{
	margin-right: 40px;
}
.popup_click_btn{
	margin-right: 10px !important;
	float: right;
}
.magestore-login-input-box  .login-label em{	
}
.ajax-login-image{
	background: url("sociallogin/opc-ajax-loader.gif") no-repeat scroll 0 0 transparent;
	width: 16px;
	height: 16px;
	margin: 5px 0 5px 152px;
}
.magestore-invalid-email{
	margin-left: 152px;
	color: red;
}

#sociallogin-forgot{
	margin-bottom : 20px;
}
.magestore-sociallogin-create-new-customer{
	float: left;	
	clear: both;
}
.magestore-sociallogin-create-new-customer a{	
	margin-left: 10px;
	font-weight: bold;
}
.sociallogin-field{
	width: 218px !important;
	float: left;
}
.sociallogin-field .input-text{
	width: 168px  !important;
}
#magestore-create-back{
	font-size: 10px;
}
.sociallogin-other-button-popup{
	float: left;
}
#magestore-login-social  .magestore-loign-h3{text-align:center;}
#sociallogin_button ul.right{float:right;}
#sociallogin_button ul.left{float:left;}
