<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Abitabmail>
            <version>0.1.0</version>
        </Onetree_Abitabmail>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <card_identity>
                    <to_order_payment>*</to_order_payment>
                </card_identity>
            </sales_convert_quote_payment>
        </fieldsets>
        <models>
            <onetree_abitabmail>
                <class>Onetree_Abitabmail_Model</class>
                <resourceModel>onetree_abitabmail_resource</resourceModel>
            </onetree_abitabmail>
            <onetree_abitabmail_resource>
                <class>Onetree_Abitabmail_Model_Resource</class>
                <entities>
                    <abitabmail>
                        <table>onetree_abitabmail</table>
                    </abitabmail>
                </entities>
            </onetree_abitabmail_resource>
        </models>
        <blocks>
            <onetree_abitabmail>
                <class>Onetree_Abitabmail_Block</class>
            </onetree_abitabmail>
        </blocks>
        <helpers>
            <onetree_abitabmail>
                <class>Onetree_Abitabmail_Helper</class>
            </onetree_abitabmail>
        </helpers>
        <resources>
            <onetree_abitabmail_setup>
                <setup>
                    <module>Onetree_Abitabmail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onetree_abitabmail_setup>
            <onetree_abitabmail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onetree_abitabmail_write>
            <onetree_abitabmail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onetree_abitabmail_read>
        </resources>
        <events>
            <sales_order_invoice_register>
                <observers>
                    <onetree_abitabmail>
                        <class>onetree_abitabmail/observer</class>
                        <method>changeOrderStatus</method>
                    </onetree_abitabmail>
                </observers>
            </sales_order_invoice_register>
        </events>
    </global>
    <default>
        <payment>
            <abitabmail>
                <model>onetree_abitabmail/method_mail</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Abitab Mail</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <currency_type>1</currency_type>
                <identifier>MTD</identifier>
                <limit_day>2</limit_day>
                <company_number>1827</company_number>
                <sub_company_number>0</sub_company_number>
                <abitab_mails>gestion.automatica@abitab.com.uy</abitab_mails>
                <abitab_mails_cc>todos.produccion@abitab.com.uy,juancarlosc@onetree.com</abitab_mails_cc>
                <smtp>smtp.gmail.com</smtp>
                <smtp_ssl>ssl</smtp_ssl>
                <smtp_port>465</smtp_port>
                <smtp_auth>login</smtp_auth>
                <smtp_username>soporte@mitrenda.com</smtp_username>
                <smtp_password>soporteMitrenda</smtp_password>
            </abitabmail>
        </payment>
    </default>
    <frontend>
        <routers>
            <abitabmail>
                <use>standard</use>
                <args>
                    <module>Onetree_Abitabmail</module>
                    <frontName>abitabmail</frontName>
                </args>
            </abitabmail>
        </routers>
        <!--<layout>-->
        <!--<updates>-->
        <!--<abitabmail>-->
        <!--<file>abitabmail.xml</file>-->
        <!--</abitabmail>-->
        <!--</updates>-->
        <!--</layout>-->
    </frontend>
    <crontab>
        <jobs>
            <onetree_abitabmail_export_orders_abitab>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>onetree_abitabmail/cron::exportOrders</model>
                </run>
            </onetree_abitabmail_export_orders_abitab>
            <onetree_abitabmail_exportagain_orders_abitab>
                <schedule>
                    <!-- set 0 3 for timezone issue -->
                    <cron_expr>15 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>onetree_abitabmail/cron::reExportOrders</model>
                </run>
            </onetree_abitabmail_exportagain_orders_abitab>
        </jobs>
    </crontab>
</config>