<?xml version="1.0"?>
<config>
    <modules>
        <Onetree_Visanet>
            <version>0.0.1</version>
        </Onetree_Visanet>
    </modules>

    <global>
        <models>
            <visanet>
                <class>Onetree_Visanet_Model</class>
            </visanet>
        </models>
        <blocks>
            <visanet>
                <class>Onetree_Visanet_Block</class>
            </visanet>
        </blocks>
        <resources>
            <visanet_setup>
                <setup>
                    <module>Onetree_Visanet</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </visanet_setup>
            <visanet_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </visanet_write>
            <visanet_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </visanet_read>
        </resources>
        <helpers>
            <visanet>
                <class>Onetree_Visanet_Helper</class>
            </visanet>
        </helpers>
    </global>
    <frontend>
        <routers>
            <visanet>
                <use>standard</use>
                <args>
                    <module>Onetree_Visanet</module>
                    <frontName>visa</frontName>
                </args>
            </visanet>
        </routers>
        <layout>
            <updates>
                <visanet>
                    <file>visanet.xml</file>
                </visanet>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <visanet>
                <active>1</active>
                <model>visanet/standard</model>
                <order_status>pending</order_status>
                <title>Visa</title>
                <actionUrl>https://vpayment.verifika.com/VPOS/MM/transactionStart20.do</actionUrl>
                <testActionUrl>https://test2.alignetsac.com/VPOS/MM/transactionStart20.do</testActionUrl>
                <order_payd>processing</order_payd>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </visanet>
        </payment>
    </default>
</config>