<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Onetree_BillOfSaleNumber>
            <version>0.0.6</version>
        </Onetree_BillOfSaleNumber>
    </modules>
    <global>
        <blocks>
            <billofsalenumber>
                <class>Onetree_BillOfSaleNumber_Block</class>
            </billofsalenumber>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Onetree_BillOfSaleNumber_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <billofsalenumber>
                <class>Onetree_BillOfSaleNumber_Model</class>
                <resourceModel>billofsalenumber_resource</resourceModel>
            </billofsalenumber>
            <billofsalenumber_resource>
                <class>Onetree_BillOfSaleNumber_Model_Resource</class>
                <entities>
                    <billofsalenumber><table>onetree_billofsalenumber</table></billofsalenumber>
                </entities>
            </billofsalenumber_resource>
        </models>
        <helpers>
            <billofsalenumber>
                <class>Onetree_BillOfSaleNumber_Helper</class>
            </billofsalenumber>
        </helpers>
        <resources>
            <billofsale_setup>
                <setup>
                    <module>Onetree_BillOfSaleNumber</module>
                    <!--class>Onetree_BillOfSaleNumber_Model_Resource_Setup</class>-->
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </billofsale_setup>
            <billofsale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </billofsale_write>
            <billofsale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </billofsale_read>
        </resources>
        <helpers>
            <billofsalenumber>
                <class>Onetree_BillOfSaleNumber_Helper</class>
            </billofsalenumber>
        </helpers>
        <events>
            <sales_order_place_before>
                <observers>
                    <sales_order_place_before>
                        <class>billofsalenumber/observer</class>
                        <method>order_increment_bill_number</method>
                    </sales_order_place_before>
                </observers>
            </sales_order_place_before>
            <sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>billofsalenumber/observer</class>
                        <method>invoice_increment_bill_number</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
        </events>
    </global>
    <admin>
        <routers>
            <billofsalenumber>
                <use>admin</use>
                <args>
                    <module>Onetree_BillOfSaleNumber</module>
                    <frontName>billofsalenumber</frontName>
                </args>
            </billofsalenumber>
        </routers>
    </admin>
    <!--adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <billofsale>
                                            <title>BillOfSaleNumber</title>
                                            <sort_order>1000</sort_order>
                                        </billofsale>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml-->
    <default>
        <billofsale>
            <billofsalenumber_group>
                <customer_type>1</customer_type>
            </billofsalenumber_group>
        </billofsale>
    </default>
</config>